global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'backend'
    static_configs:
      - targets: ['backend:8000']
    metrics_path: /metrics
  - job_name: 'monitoring-api'
    static_configs:
      - targets: ['monitoring-api:9100']
    metrics_path: /metrics
